:root {
  --basic-font: "Poppins", sans-serif;
  --heading-font: "Playfair Display", serif;
  --brand-color: #6c63ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  font-weight: bold;
  line-height: 1.2;
}
p {
  text-align: center;
  font-family: var(--basic-font);
  font-size: 18px;
  color: #272142;
  line-height: 27px;
}
h2 {
  font-size: 64px;
  font-weight: bold;
}

.top {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}
.top p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}
.top h1 {
  font-size: 96px;
  font-weight: bold;
  color: #000000;
}
.top h2 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: normal;
}
.btn-button {
  background: var(--brand-color);
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding: 15px 25px;
  line-height: 27px;
}
.btn-page {
  border: 1px solid var(--brand-color);
  color: var(--brand-color);
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--basic-font);
  padding: 15px 30px;
  line-height: 27px;
}
.project {
  padding: 120px 60px;
}
.page {
  padding: 160px 20px;
}
.page h2 {
  font-size: 18px;
  font-family: var(--basic-font);
  font-weight: bold;
}
.page h1 {
  font-size: 64px;
  font-weight: bold;
  line-height: 80px;
}
.page-content {
  margin: 30px;
}
.round{
    border-radius: 20px;
}
.page h3{
    font-family: var(--basic-font);
    font-size: 24px;
    font-weight: bold;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }
  h2 {
    font-size: 42px;
  }
  .top {
    padding: 80px 20px;
  }
  .project {
    padding: 0;
    text-align: center;
  }
  .page {
    text-align: center;
    padding: 10px 0;
  }
}
